.main {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 450px));
  grid-template-rows: 30% 70%;
  margin: 0 25px;
  justify-content: center;
}

.main__desk {
  grid-column: span 2;
  background-image: url("../../../img/desk.jpg");
  background-size: cover;
  margin: 15px 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desk__inner {
  display: block;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &--plate {
    background-image: url("../../../img/plate.png");
  }
  &--spoon {
    background-image: url("../../../img/spoon.png");
    width: 40px;
    height: 80px;
    background-size: contain;
    background-position: center;
  }
  &--plate-for-kids {
    background-image: url("../../../img/plate-for-kids.png");
    width: 50px;
    height: 50px;
    background-position: center;
  }
  &--vegetables {
    background-image: url("../../../img/vegetables.png");
    width: 35px;
    height: 35px;
    background-position: center;
    position: absolute;
    top: 23px;
    left: 21px;
    &.light.desk__inner {
      filter: drop-shadow(2px 0 2px red) drop-shadow(-2px 0 2px red);
    }
  }
  &--kids-vegetables {
    background-image: url("../../../img/vegetables.png");
    width: 23px;
    height: 23px;
    background-position: center;
    position: absolute;
    top: 13px;
    left: 14px;
    &.light.desk__inner {
      filter: drop-shadow(2px 0 2px red) drop-shadow(-2px 0 2px red);
    }
  }
  &--pizza {
    background-image: url("../../../img/pizza.png");
    width: 35px;
    height: 35px;
    background-position: center;
    position: absolute;
    top: 22px;
    left: 22px;
    &.light.desk__inner {
      filter: drop-shadow(2px 0 2px red) drop-shadow(-2px 0 2px red);
    }
  }
  &--pizza-first {
    background-image: url("../../../img/pizza.png");
    width: 26px;
    height: 26px;
    background-position: center;
    position: absolute;
    top: 26px;
    left: 11px;
    &.light.desk__inner {
      filter: drop-shadow(2px 0 2px red) drop-shadow(-2px 0 2px red);
    }
  }
  &--pizza-second {
    background-image: url("../../../img/pizza.png");
    width: 26px;
    height: 26px;
    background-position: center;
    position: absolute;
    top: 26px;
    left: 42px;
    &.light.desk__inner {
      filter: drop-shadow(2px 0 2px red) drop-shadow(-2px 0 2px red);
    }
  }
}

.desk__inner.light {
  filter: drop-shadow(2px 0 2px red) drop-shadow(-2px 0 2px red);
}

.main__editor,
.main__code {
  background-color: #2B211B;
}

.editor__head,
.code__head {
  background-color: #3C2418;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  height: 10%;
  border-bottom: 1px solid #333;
}

.editor__body {
  background-color: #fff;
  height: 90%;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.editor__body-text {
  position: absolute;
  top: 21px;
  left: 39px;
  color: #AAA;
}

.editor__body-line {
  overflow: hidden;
  color: #999;
  background: #DDD;
  padding: 3px 10px;
  height: 100%;
  text-align: right;
}

.code__body-editor div {
  padding-left: 20px;
}

.table {
  color: #333;
}

.code__body * {
  color: #666;
}

.light {
  color: #fff;
}

.code__body {
  height: 90%;
  display: flex;
  align-items: flex-start;
}

.code__body-line {
  overflow: hidden;
  padding: 3px 10px;
  height: 100%;
  text-align: right;
  border-right: solid 1px #333;
}

.code {
  color: #fff;
}

.animate {
  animation: anim 1.2s infinite;
}

.animate-reverse {
  animation: animate-reverse 3s infinite;
}

@keyframes animate-reverse {
  0% {
    transform: skew(0) scaleY(1);
    animation-timing-function: linear;
  }

  50% {
    transform: skew(5deg) scaleY(.9);
    animation-timing-function: linear;
  }
  100% {
    transform: skew(0) scaleX(1);
    animation-timing-function: linear;
  }
}

@keyframes anim {
  0% {
    transform: skew(0deg) scaleY(1);
    animation-timing-function: ease-in;
  }

  50% {
    transform: skew(5deg) scaleY(.9);
    animation-timing-function: ease-out;
  }
  100% {
    transform: skew(0deg) scaleX(1);
    animation-timing-function: ease-out;
  }
}

.false-answer {
  animation: false-answer .1s 5;
}

@keyframes false-answer {
  0%   {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(3px);
  }
}


.right-answer {
  animation: right-answer .2s 1;
  transform: translateY(-1000px);
}

@keyframes right-answer {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-1000px);
  }
}

.button-help {
  position: absolute;
  top: 35px;
  left: 5px;
  border: none;
  transition: 0.3s all;
  background-color: #7E4E95;
  color: #FFFFFF;
  cursor: pointer;
}

.button-help:hover,
.button-reset:hover {
  transform: scale(1.1);
}


.button-reset {
  position: absolute;
  top: 65px;
  left: 5px;
  border: none;
  transition: 0.3s all;
  background-color: #EC2578;
  color: #FFFFFF;
  cursor: pointer;
}

.aside__levels {
  position: fixed;
  z-index: 2;
  bottom: 0;
  right: 0;
  width: 5%;
}

.aside__levels-btn {
  color: #FFFFFF;
  background-color: #356203;
  width: 100%;
  border: none;
  outline: none;
  margin-bottom: 5px;
  transition: 0.3s all;
  cursor: pointer;
  &.current {
    background-color: #EC2578;
  }
}

.aside__levels-btn:hover {
  transform: translateX(5px);
}
