.button {
  position: absolute;
  top: 0;
  right: 0;
  background: #DDD;
  border-radius: 2px;
  padding: 2px 7px;
  color: #333;
  font-size: 10px;
  cursor: pointer;
  border: 2px solid #DDD;
  transition: 0.3s all;
  &--click {
    transform: translateY(5px);
  }
}

