*, *::after, *::before {
    box-sizing: border-box;
}

body {
    background-color: #E9D78E;
    color: #fff;
    font-family: 'Montserrat';
}

.container {
    display: flex;
    flex-direction: row-reverse;
}

.wrapper {
    width: 100%;
    max-width: 75%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
    height: 100%;
    display: flex;
    flex-direction: column;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px #F7A279;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #8267C6;
    }
}