.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  color: #333;
}
.header__name {
  margin: 0;
  font-size: 28px;
}
.header__link {
  color: #333;
  text-decoration: none;
}
.header__link:hover {
  text-decoration: underline;
}